<div class="user-profile-form" data-controller="profile-picture-upload">
  <%= simple_form_for(current_user) do |f| %>
    <div class="user-profile-picture" data-action="click->profile-picture-upload#uploadPicture">
      <% if current_user.avatar.attached? %>
        <%= cl_image_tag current_user.avatar.key, height: 400, width: 400, crop: :fill, data: { "profile-picture-upload-target" => "profilePicture" } %>
      <% else %>
        <%= image_tag "https://ui-avatars.com/api/?name=#{current_user.nickname}&background=random&length=1&format=svg", data: { "profile-picture-upload-target" => "profilePicture" } %>
      <% end %>
      <div class="edit-overlay">
        <p><i class="fa-solid fa-pen fa-3x"></i></p>
        <p>Upload Photo</p>
      </div>
    </div>
    <%= f.input :nickname, label: "Nickname", placeholder: "Enter your nickname", required: false %>
    <%= f.input :avatar,
      as: :file,
      label: "Upload new profile picture",
      wrapper_html: { class: "hidden" },
      input_html: {
        data: {
          action: "input->profile-picture-upload#changePicture",
          "profile-picture-upload-target" => "fileInput" 
        }
      }
    %>
    <%= f.submit "Save", class: "event-button w-50", style: "margin: 2rem auto;" %>
  <% end %>
</div>