<div class="profile-wrapper mb-5">
  <% playlists.each do |playlist| %>
    <div data-controller="profile-modal share-button" data-share-button-shared-value="<%= playlist.is_shared %>" data-share-button-id-value="<%= playlist.id %>">
      <div class="profile-card" data-controller="profile-card" data-action="click->profile-card#click" data-share-button-target="thumbnail">
        <div class="profile-scene scene--card" data-action="click->profile-modal#open">
          <div class="card" data-profile-card-target="card">
            <div class="profile_card__face profile_card__face--front">
              <div class="profile-card">
                <%= cl_image_tag playlist.photo.key %>
              </div>
            </div>
            <div class="profile_card__face profile_card__face--back">
                <button class="btn-play"><i class="fa-solid fa-play"></i></button>
            </div>
          </div>
        </div>
      </div>

      <section class="profile-modal hidden" data-profile-modal-target="modal" style="margin:0 auto">
        <div class="modal-container">
          <div class="d-flex flex-row justify-content-between align-items-center"
               style="padding-bottom: 0.75em; padding-top: 0.25em;">
            <% if playlist.is_shared %>
              <div class="d-flex justify-content-between <%= current_user.id == @user.id ? "" : "invisible" %>"
                   data-share-button-target="share"
                   data-action="click->share-button#share">
                <i class="fa-solid fa-lock-open" style="padding-top: 0.2em;"></i>
                <span style="padding-left: 10px;">Hide this playlist</span>
              </div>
            <% else %>
              <div class="d-flex justify-content-between"
                   data-share-button-target="share"
                   data-action="click->share-button#share">
                <i class="fa-solid fa-lock" style="padding-top: 0.2em;"></i>
                <span style="padding-left: 10px;">Share this playlist</span>
              </div>
            <% end %>
            <div>
              <i class="fa-solid fa-xmark"
                 data-action="click->profile-modal#close"></i>
            </div>
          </div>
          <iframe id="playlist-show" style="border-radius:12px" src=<%= "https://open.spotify.com/embed/playlist/#{playlist.spotify_id}?utm_source=generator&theme=0" %> width="100%" height="500" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
        </div>
      </section>
    </div>
  <% end %>
</div>
