<div data-search-target="list">
    <h3>Search results for: <%= params[:query] %></h3>
    <hr>

    <% @users.each do |user| %>
    <%= link_to user_playlists_path(user), class:"text-decoration-none" do %>
      <div class="user-search-card">
        <% if user.avatar.attached? %>
          <%= cl_image_tag user.avatar.key, crop: :fill, class: "avatar" %>
        <% else %>
          <%= image_tag "unknown_avatar.jpg", class: "avatar" %>
        <% end %>
        <span><%= user.nickname %></span>
      </div>
      <% end %>
    <% end %>
  </div>
