<div class="event-form">
  <%= simple_form_for @event do |f| %>
    <%= f.input :title %>
    <label>Acousticness</label>
    <%= render 'shared/event_slider', minValue: @event["min_acousticness"], maxValue: @event["max_acousticness"], propertyName: "acousticness" %>
    <label>Danceability</label>
    <%= render 'shared/event_slider', minValue: @event["min_danceability"], maxValue: @event["max_danceability"], propertyName: "danceability" %>
    <label>Energy</label>
    <%= render 'shared/event_slider', minValue: @event["min_energy"], maxValue: @event["max_energy"], propertyName: "energy" %>
    <label>Tempo</label>
    <%= render 'shared/event_slider', minValue: @event["min_tempo"], maxValue: @event["max_tempo"], propertyName: "tempo" %>
    <label>Valence</label>
    <%= render 'shared/event_slider', minValue: @event["min_valence"], maxValue: @event["max_valence"], propertyName: "valence" %>
    <%= f.input :time, collection: Event.times %>
    <%= f.submit 'Save' %>
  <% end %>
</div>