<div class="container">
  <div class="profile-header">
    <% if @user.avatar.attached? %>
      <%= cl_image_tag @user.avatar.key, crop: :fill %>
    <% else %>
      <%= image_tag "unknown_avatar.jpg" %>
    <% end %>
    <h1 class="text-center"><%= @user.nickname.capitalize %>'s Gallery</h2>
  </div>
  <% if @playlists.where(is_shared: true).empty?  %>
    <%= render "shared/default_gallery" %>
  <% else %>
    <%= render "shared/profile", playlists: @playlists.where(is_shared: true).order(created_at: :DESC).first(12) %>
  <% end %>
</div>
