<script>
  function reloadPage() {
  // The last "domLoading" Time //
  let currentDocumentTimestamp =
  new Date(performance.timing.domLoading).getTime();
  // Current Time //
  let now = Date.now();
  // Ten Seconds //
  let oneSec = 1 * 1000;
  // Plus Ten Seconds //
  let plusOneSec = currentDocumentTimestamp + oneSec;
  if (now > plusOneSec) {
  location.reload();
  } else {}
  }
  reloadPage();
</script>
<%= render "shared/flashes" %>
<div class="container" id="new-playlist" data-controller='image-creation'>
  <h1>NEW PLAYLIST PREVIEW</h1>
  <div id="first-song" value="<%= @song_uris.first %>"></div>
  <p><i class="fa-solid fa-chevron-left"></i> <%= link_to 'Edit filters', edit_event_path(@event)%></p>
  <%# Generate image button %>
  <div class="mb-5">
    <div class='btn create-btn' data-action='click->image-creation#showImage' data-image-creation-target='generateImageButton'>Generate Image</div>
  </div>
  <%# playlist sdk %>
  <% if @songs.count == 0 %>
    <h2 class="mt-5">Oopsie Daisy! Your library does not contain songs which match your filters.</h2>
  <% else %>
    <div class="sdk-container d-flex justify-content-center align-items-start flex-wrap gap-1" data-image-creation-target='playlist'>
      <div id="embed-iframe"></div>
      <div class="flex-grow-1 episodes-container">
        <ul id="episodes" class="list-unstyled">
          <div class="list-items-container">
            <% @songs.each do |song| %>
              <li class="episodes">
                <button class="btn episode" data-spotify-id=<%= song.uri %>>
                  <strong><%= song.name %></strong> - <%= song.artist %>
                </button>
              </li>
            <% end %>
          </div>
        </ul>
      </div>
    </div>
    <%# image display %>
    <div data-image-creation-target='image' class='text-center d-none'>
      <p><%= image_tag @ai_image_url %></p>
      <i class="fa-solid fa-arrows-rotate"></i>
    </div>
    <%# Create playlist button %>
    <div class="mb-5 d-none" data-image-creation-target='createPlaylistButton'>
      <%= simple_form_for [@event, @playlist], defaults: { required: false } do |f| %>
        <%= f.input :title, as: :hidden, input_html: { value: @event.title || 'My Playlist', class: "new-playlist-form", readonly: true } %>
        <%= f.button :submit, "Create Playlist", class: "btn create-btn", data: {bs_toggle: "modal", bs_target: "#playlistSpinnerModal"} %>
      <% end %>
    </div>
  <% end %>
</div>
<%# Spinner modal %>
<div class="modal" id="playlistSpinnerModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content d-flex justify-content-center align-items-center"  style='background: black; opacity: 0.9'>
      <%= render 'generate_playlist_spinner' %>
    </div>
  </div>
</div>
