<script>
  function reloadPage() {
  // The last "domLoading" Time //
  let currentDocumentTimestamp =
  new Date(performance.timing.domLoading).getTime();
  // Current Time //
  let now = Date.now();
  // Ten Seconds //
  let oneSec = 1 * 1000;
  // Plus Ten Seconds //
  let plusOneSec = currentDocumentTimestamp + oneSec;
  if (now > plusOneSec) {
  location.reload();
  } else {}
  }
  reloadPage();
</script>
<h1>New Playlist</h1>
<div id="first-song" value="<%= @song_uris.first %>"></div>
<p><i class="fa-solid fa-chevron-left"></i> <%= link_to 'Edit filters', edit_event_path(@event)%></p>
<div class="d-flex justify-content-center align-items-start gap-3 flex-wrap">
  <div id="embed-iframe"></div>
  <div class="flex-grow-1 episodes-container">
    <ul id="episodes" class="list-unstyled">
      <% @songs.each do |song| %>
        <li class="episodes">
          <button class="btn episodes-button" data-spotify-id=<%= song.uri %>>
              <%= song.name %> - <%= song.artist %>
            </button>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<div class="mb-5">
  <%= simple_form_for [@event, @playlist], defaults: { required: false }  do |f| %>
    <%= f.input :title, :label => "Playlist Title", placeholder: "Name your playlist" %>
    <%= f.input :photo, as: :file, label: "Upload your photo", wrapper_html: { class: "fs-6 mt-2 fw-normal" } %>
    <%= f.button :submit, "Create Playlist", class: "btn oauth-signin", data: {bs_toggle: "modal", bs_target: "#playlistSpinnerModal"} %>
  <% end %>
</div>
<%# Spinner modal %>
<div class="modal" id="playlistSpinnerModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content d-flex justify-content-center align-items-center"  style='background: black; opacity: 0.9'>
      <%= render 'generate_playlist_spinner' %>
    </div>
  </div>
</div>
