<script>
  function reloadPage() {
  // The last "domLoading" Time //
  let currentDocumentTimestamp =
  new Date(performance.timing.domLoading).getTime();
  // Current Time //
  let now = Date.now();
  // Ten Seconds //
  let oneSec = 1 * 1000;
  // Plus Ten Seconds //
  let plusOneSec = currentDocumentTimestamp + oneSec;
  if (now > plusOneSec) {
  location.reload();
  } else {}
  }
  reloadPage();
</script>
<div class="container" id="new-playlist" data-controller='image-creation' data-image-creation-eventid-value="<%= @event.id %>">
  <h1>New Playlist Preview</h1>
  <div id="first-song" value="<%= @song_uris.first %>"></div>
  <p><i class="fa-solid fa-chevron-left"></i> <%= link_to 'Edit filters', edit_event_path(@event)%></p>
  <%# Generate image button %>
  <div class="mb-5">
    <div class='btn create-btn' data-action='click->image-creation#showImage' data-image-creation-target='generateImageButton'>Generate Image</div>
  </div>
  <% if @songs.count == 0 %>
    <h2 class="mt-5">Oopsie Daisy! Your library does not contain songs which match your filters.</h2>
  <% else %>
    <%= render 'webplayer' %>
    <%= render 'image_display' %>
    <%= render 'playlist_creation_form' %>
  <% end %>
</div>
<%# Spinner modal %>
<%= render 'spinner_modal' %>
