<!DOCTYPE html>
<html>
  <head>
    <title>Soundstate</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="d-flex flex-column min-vh-100">
    <% if user_signed_in? %>
     <%= render "shared/header" %>
    <% end %>

    <div class="content-container">
      <%= yield %>
    </div>

    <% if user_signed_in? %>
      <%= render "shared/menu_bar" %>
    <% end %>
  </body>
</html>
