<!DOCTYPE html>
<html>
  <head>
    <title>Soundstate</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="<%= meta_description %>">
    <%= favicon_link_tag "favicon.png", rel: "icon", type: "image/png" %>

    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="<%= meta_title %>">
    <meta property="og:type" content="website">
    <meta property="og:url" content="<%= request.original_url %>">
    <meta property="og:image" content="<%= meta_image %>">
    <meta property="og:description" content="<%= meta_description %>">
    <meta property="og:site_name" content="<%= meta_title %>">

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:title" content="<%= meta_title %>">
    <meta name="twitter:description" content="<%= meta_description %>">
    <meta name="twitter:creator" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:image:src" content="<%= meta_image %>">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= render 'shared/ios_pwa_links' %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <link rel="manifest" href="<%= asset_path 'manifest.json' %>">
  </head>
  <body class="d-flex flex-column min-vh-100" style="background-color: $background;" data-controller="search lightmode">
    <% if user_signed_in? %>
      <%= render "shared/header" %>
    <% end %>
    <div class="content-container <%= "bg-body-bg" unless user_signed_in? %>">
      <%= yield %>
    </div>
    <% if user_signed_in? %>
      <%= render "shared/menu_bar" %>
    <% end %>
    <script src="https://open.spotify.com/embed-podcast/iframe-api/v1" async></script>
  </body>
</html>
